# Core
DATABASE_URL=
PUBLIC_APP_URL=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=

# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_CENTS=
STRIPE_PRO_CURRENCY=
STRIPE_PRO_UNLOCK_DURATION_SECONDS=
